@import "../../../../../styles/variables.scss";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  overflow: hidden; // Isso previne o scroll lateral
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; // Garantir que as imagens não causem scroll
}

.indicators {
  display: flex;
  gap: 8px;
  bottom: 16px;
  position: absolute;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: $primary40;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.active {
  background-color: $primary; // Cor para o indicador ativo
}
