@import "./header.module.scss";

.header {
  background: $dark80;
}

.title {
  color: $light;
}

.modal {
  background-color: $black;

  .modalContent {
    background: $black;
  }

  .closeButton {
    color: $light;
  }
}

.menu {
  color: $light;
}
