@import "./header.module.scss";

.header {
  background: $light80;

  .logo {
    background: $black;
  }

  .title {
    color: $black;
  }
}

.modal {
  background-color: $light;
  .closeButton {
    color: $black;
  }
}

.menu {
  color: $black;
}
