@import "../../../../styles/variables.scss";

.container {
  height: 100vh;
  width: 100%;
  max-width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .textContainer {
    display: flex;
    flex-direction: column;
    width: 532px;
    height: 431px;
    margin-left: 160px;

    .title {
      font-size: 48px;
      font-weight: 500;
      margin-bottom: 32px;

      .markTitle {
        background: $gradientUp;
        background-clip: $gradientUp;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .text {
      margin-bottom: 16px;
      line-height: 1.5;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
    }
  }

  .groupImages {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .image {
      height: 98%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .textContainer {
    margin-left: 70px !important;
    width: 456px !important;
    height: 368px !important;
  }

  .groupImages {
    width: 657.949px !important;
    height: 796px !important;
  }
}

@media screen and (max-width: 376px) {
  .container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
    position: relative;

    .textContainer {
      width: 315px !important;
      height: 400px !important;
      margin: 0;
      position: absolute;
      top: 32px;
      right: 32px;
      z-index: 2;

      .title {
        font-size: 24px;
      }
      .text {
        font-size: 14px !important;
        margin-bottom: 16px;
        line-height: 1;
      }
    }

    .groupImages {
      width: 375px !important;
      height: 448px !important;
      position: absolute;
      bottom: -30px;
      left: 53px;
      .image {
        width: 78%;
        height: 85%;
      }
    }
  }
}
