@import "../../../styles/variables.scss";

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 130px;

  .sectionOne {
    width: 420px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .title {
      font-size: 80px;
      font-weight: 700;

      .markTitle {
        background: $gradientUp;
        background-clip: $gradientUp;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .paragraph {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .sectionTwo {
    .form {
      width: 530px;
      height: 336px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .info {
        display: flex;
        justify-content: space-between;

        .inputs {
          display: flex;
          flex-direction: column;

          .input {
            background: transparent;
            width: 240px;
            height: 32px;
            margin-top: 8px;
            font-family: Ubuntu;
            outline: none;
          }
        }
      }
      .message {
        display: flex;
        flex-direction: column;

        .textarea {
          outline: none;
          background: transparent;
          width: 100%;
          margin-top: 8px;
          font-family: Ubuntu;
          resize: none;
        }
      }
    }
  }
}
