@import "./commun.module.scss";

.section {
  // background: $black;
  color: $light;

  .input {
    border: none;
    border-bottom: 1px solid $light20;
    transition: 0.3s ease;
    color: $light;

    &:focus {
      transition: 0.3s ease;
      border-bottom: 1px solid $primary;
    }
  }

  .textarea {
    color: $light;
    border: none;
    transition: 0.3s ease;
    border-bottom: 1px solid $light20;
    &:focus {
      transition: 0.3s ease;
      border-bottom: 1px solid $primary;
    }
  }
}
