$primary: #a98bed;
$primary80: #a98bedcc;
$primary60: #a98bed99;
$primary40: #a98bed66;
$primary20: #a98bed33;

$secundary: #6df8d8;
$secundary80: #6df8d8cc;
$secundary60: #6df8d899;
$secundary40: #6df8d866;
$secundary20: #6df8d833;

$dark: #0f0e10;
$dark80: #0f0e10cc;
$dark60: #0f0e1099;
$dark40: #0f0e1066;
$dark20: #0f0e1033;

$black: #09090b;
$black80: #09090bcc;
$black60: #09090b99;
$black40: #09090b66;
$black20: #09090b33;

$grey: #c2ccc9;
$grey80: #c2ccc9cc;
$grey60: #c2ccc999;
$grey40: #c2ccc966;
$grey20: #c2ccc933;

$lightGrey: #dae0de;
$lightGrey80: #dae0decc;
$lightGrey60: #dae0de99;
$lightGrey40: #dae0de66;
$lightGrey20: #dae0de33;

$beige: #eeeeee;
$beige80: #eeeeeecc;
$beige60: #eeeeee99;
$beige40: #eeeeee66;
$beige20: #eeeeee33;

$light: #ffffff;
$light80: #ffffffcc;
$light60: #ffffff99;
$light40: #ffffff66;
$light20: #ffffff33;

$gradientUp: linear-gradient(100.68deg, #a98bed 0%, #6df8d8 100%);
$gradientDown: linear-gradient(71.99deg, #a98bed 12.27%, #6df8d8 87.73%);
